body {
  margin: 0;
  padding: 0;
}
/* Notre span de type inline est changée en type block, elle va donc faire toute la largeur de la page */

span#block {
  display: block;
}
/* Nos div de type block vont etre changer en type inline */
.inline-div {
  display: inline;
  width: 30%; /* Ne fonctionnera pas ! */
}
/* Nos div de type block vont etre changer en types inlin-block, 
mais elles vont garder leur capacite a changer de taille et largeur */

.inline-block-div {
  display: inline-block;
  width: 30%; /* Fonctionnera */
}
/* Flex */
#flex {
display: flex;  /* propriété flex */
 flex-direction: row-reverse;  /* la propriété flex-direction permet de definir 
 comment seront placés nos éléments : 
 row = en ligne par défaut
 column = en colonne
 row-reverse = en ligne mais à l'envers et en fin de ligne
 column-reverse = en colonne mais à l'envers */
justify-content: start;
}